/* -------------------------------home tab=-------------------------------- */
.top-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.first-container {
  width: 40%;
  display: flex;
  justify-content: center;
  /* Remove justify-content: center; as it's not needed for a flex container */
}

.image1 img {
  height: 500px;
  width: 600px;
}

/* Correct the class name to .second-container */
.second-container {
  width: 40%;
  flex-wrap: wrap; /* No need to repeat display: flex here */
  gap: 10px;
}

.image2 img {
  height: 250px;
  width: 600px;
}

.image3 img {
  height: 250px;
  width: 600px;
}







.data-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.box {
  width: 300px;
  height: 350px;
  background-color: red;
}

.top-second-container {
  display: flex;
  flex-wrap: wrap;
}

.inner-container {
  width: 50%; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  border: 2px solid black;
}

.content {
  height: 200px;
  width: 300px; /* Reduced width to fit available space */
  background-color: aqua;
}

.inner-second-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  border: 2px solid black;
  flex-wrap: wrap;
}

.inner-content {
  height: 200px;
  width: 500px;
  background-color: tomato;
}

.inner-content1 {
  height: 750px;
  width: 500px;
  background-color: tomato;
}
