/* -------------------------------home tab=-------------------------------- */
.top-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.first-container {
  max-width: 40%;
  min-width: 400px; /* Adjust the minimum width to your desired value */
  display: flex;
 
}

.image1 img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.second-container {
  max-width: 40%;
  min-width: 400px; /* Adjust the minimum width to your desired value */
 
  flex-wrap: wrap;
  gap: 10px;
}

.image2 img {
  height: 250px;
  width: 100%;
  border-radius: 20px;
}

.image3 img {
  height: 250px;
  border-radius: 20px;
  width: 100%;
}






.data-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.box {
  width: 300px;
  height: 350px;
  background-color: red;
}







.top-second-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inner-container {
 max-width: 45%; /* Adjust the width as needed */
 min-width: 400px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

.content {
  height: 200px;
  width: 300px; /* Reduced width to fit available space */
  background-color: aqua;
}

.inner-second-container {
 max-width: 40%;
 min-width: 400px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  flex-wrap: wrap;
}

.inner-content {
  height: 200px;
  width: 500px;
  background-color: tomato;
}

.inner-content1 {
  height: 750px;
  width: 500px;
  background-color: tomato;
}
