/* -------------------------------home tab=-------------------------------- */

/* -----------------------------------------home css ------------------------------------------ */
.top-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.first-container {
  max-width: 900px; /* Adjust the minimum width to your desired value */
  min-width: 400px;

  display: flex;
 
}

.image1 img {
  width: 100%;
  height: 500px;
 
}

.second-container {
  max-width: 900px;
  min-width: 400px;
 
  flex-wrap: wrap;
  gap: 10px;
}


.image2 img {
  height: 250px;
  width: 100%;
  
}

.image3 img {
  height: 250px;

  width: 100%;
}






.data-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.box {
  width: 300px;
  height: 350px;
  background-color: red;
}







.top-second-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.inner-container {
 max-width: 45%; /* Adjust the width as needed */
 min-width: 400px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

.content {
  height: 200px;
  width: 300px; /* Reduced width to fit available space */
  background-color: aqua;
}

.inner-second-container {
 max-width: 40%;
 min-width: 400px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  flex-wrap: wrap;
}

.inner-content {
  height: 200px;
  width: 500px;
  background-color: tomato;
}

.inner-content1 {
  height: 750px;
  width: 500px;
  background-color: tomato;
}






/* ------------------------------------------------bollywood css-------------------------------- */


.boll-heading{
  display: inline-block;
  margin-left: 40px;
  text-decoration: underline;
  margin-top: 20px;
 

}
.boll-heading h1{
  font-family: Montserrat,sans-serif;
  font-weight: 100;
}
.bollywood-data{
  margin-top: 50px;
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
 

}


.title{
  text-align: center;
  font-size: large;
  font-weight: 600;
  text-decoration: underline;
}


.child{

  width: 305px;
  margin-bottom: 50px;
}


.imagedata img{
  height: 200px;
  width: 100%;
  
}


.heading{
  text-align: center;
  
}



/* -----------------------for stories stylling----------------------------- */


.stories{
  font-size: xx-large;
  font-weight: 600;
  text-decoration: underline;
  margin-left: 170px;
  margin-bottom: 50px;
}


.bollywood-first-container{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-evenly;
  gap: 20px;
}


/* .bollywood-firstinner-container{

} */
.bollywood-content .child{
  height: 131px;
  max-width: 800px;
  min-width: 300px;
  margin-top: 20px;
}

.bollywood-content .child img{
  float: left;
  margin-right: 5px;

  
}
.bollywood-content .child .description{
  float: revert;
  width: 365px;
  

  
}
.bollywood-content .child img{
  height: 150px;
    width: 150px;
}

.load{
  font-size: xx-large;
  margin: 30px;
}
.material-symbols-outlined{
  font-size: xx-large;
}

/* -----------------------------top post-----------------------------------------------------  */


.post{
  font-size: xx-large;
  font-weight: 200;
  text-decoration: underline;
}

.bollywood-inner-content .child{
  height: 100px;
  max-width: 1000px;
  min-width: 300px;
  margin-top: 20px;

}

.bollywood-inner-content .child img{
  height: 105px;
  width: 114px;

}

.bollywood-inner-content .child img{
  float: left;
  margin-right: 10px;
  
}
.bollywood-inner-content .child .description{
  float: revert;
  
}
.count{
     float: right;
    font-size: 60px;
    color: rgb(0, 110, 255);
    font-weight: 900;
    transform: translateY(-22px);
}




/* ------------------------ads----------------------- */




.advertisement {
  
  margin-top: 50px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  border: 2px solid black;
  width: 300px;
}

.advertisement p {
  font-size: larger;
}
