* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Bogart-med;
}

/* Default styles */


/* Default styles (light mode) */
.heading,
.heading1 {
  background-color: #ffffff;
  color: #000000;
}

.menu span {
  background-color: #000000;
  
}

ul li {
  border-color: #000000;
}





nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  color: #000; 
  position: sticky;
  top: 0;
}

.hr{
  display: none;
}
.inline {
  display: inline-block;
  font-size: xx-large;
  font-weight: 600;
}

.inline1 {
  transform: rotate(-90deg);
 
}

.inline2 {
  transform: translate(-29px, 21px);
  font-size: 56px;
 
}

.heading {
  display: flex;
  justify-content: center;
  height: 100px;
}

.heading1 {
  display: none;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

nav ul {
  display: flex;
}
.hr {
  display: none;
}

nav ul li {
  list-style: none;
  margin: 20px;
  font-size: larger;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000; /* Black text color */
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
 
  border-radius: 0.5rem;
}



nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #000; /* Black background color */
  border-radius: 0.2rem;
}

/* ------------------------------description ------------------------------ */

.unique-image {
  display: flex;
  justify-content: center;
}

.child {
  width: 400px;
}
.child img {
  width: 100%;
}

/* -------------------------description component ------------------- */

.like-share {
  display: flex;
  flex-direction: column;

  width: 35%;
  justify-content: center;
  align-items: center;
}
.like-heading {
  font-size: xx-large;
}
.share {
  font-size: xx-large;
}

.unique-image {
  display: flex;
  justify-content: flex-start;
}

.child-of-des {
  display: flex;
  max-width: 500px;
  min-width: 300px;
  flex-direction: column;
}
.child-of-des h1 {
  margin: auto;
}

.header-for-img {
  display: flex;

  max-width: 500px;
  min-width: 300px;
  justify-content: space-between;

  align-items: center;
  height: 110px;
}

.mypic {
  display: flex;

  height: 55px;
  align-items: center;
}
.mypic span {
  font-size: 67px;
}
.logo i{
  padding: 6px;
  
}
.mypic{
 
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.mypic i{
  padding: 25px;
  color: red;
  font-size: 60px;
}
.logo i:nth-child(1) {
 color: #1d4ed8;
}
.logo i:nth-child(2)
{
  
 color: rgb(254, 192, 255);
 
}
.logo i:nth-child(3)
{
 color:blue;
}
.logo i:nth-child(4)
{
 color:red;
}
.des p {
  font-size: 21px;
  font-weight: 600;
  padding: 21px;
  font-family: Bogart-med;
}

.movieimg {
  width: 90%;
  margin: auto;
  box-shadow: 2px 2px 21px 2px gray;
  border-radius: 10px;
}

.like {
  display: flex;
  margin-top: 30px;
  padding: 10px;
}
.like span {
  font-size: 40px;
  color: #000;
}

.like p {
  font-size: 30px;
  
}

.header-for-img1 {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.siren-heading h1 {
  text-decoration: underline;
  padding: 100px;
  font-weight: 400;
  
}
@media (max-width: 1100px){
  .like-share{
    display: none;
  }
.child-of-des{
  margin: auto;
}

}
@media (max-width: 600px) {
  .hr {
    display: flex;
    flex-grow: 1; /* This will make .hr take up all available space */
    min-width: 200px; /* Set a minimum width of 200px */
    max-width: 500px; /* Set a maximum width of 500px */
  }
  
  .unique-image {
    display: flex;
    justify-content: c;
  }
  



  nav .menu {
    display: flex;
  }
  nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
  }
  .heading1 {
    display: flex;
    margin: 10px;
  }
  .inline1 {
    transform: rotate(-90deg);
    margin-top: 17px;
  }
  .inline2 {
    transform: translate(0px, 21px);
  }

  nav ul li {
    margin: -2px;
  }

  .heading {
    display: none;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: white; /* White background color */
    color: #000;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    width: 100%;
    margin: auto;
  }
  .inline {
    display: inline-block;
  }
  .list {
    margin: auto;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    font-size: x-large;
  }
  nav ul li a {
    color: #000; /* Black text color */
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    color: #000;
  }
}
