*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* Default styles */
.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* White background color */
  color: #000; /* Black text color */
  position: sticky;
  top: 0;
}

.inline {
  display: inline-block;
  font-size: xx-large;
  font-weight: 600;
}

.inline1 {
  transform: rotate(-90deg);
}

.inline2 {
  transform: translate(-29px, 21px);
}

.heading {
  display: flex;
  justify-content: center;
  height: 100px;
}

.heading1 {
  display: none;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #000; /* Black text color */
}

nav ul {
  display: flex;
}
.hr{
  display: none;
}

nav ul li {
  list-style: none;
  margin: 20px;
  font-size: larger;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000; /* Black text color */
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #172554;
  color: #fff; /* White text color */
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #000; /* Black background color */
  border-radius: 0.2rem;
}


@media (max-width: 900px) {
  .hr {
    display: flex;
    flex-grow: 1; /* This will make .hr take up all available space */
    min-width: 200px; /* Set a minimum width of 200px */
    max-width: 500px; /* Set a maximum width of 500px */
  }
  

  
  nav .menu {
    display: flex;
  }
 nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
}
.heading1 {
  display: flex;
  margin: 10px;
}
.inline1{
  transform: rotate(-90deg);
  margin-top: 17px;
}
.inline2 {
  transform: translate(0px, 21px);
  
}

nav ul li{
  margin: -2px;
}




  .heading {
    display: none;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: white; /* White background color */
    color: #000;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    width: auto;
    margin: auto;
  }
  .inline {
    display: inline-block;
  }
  .list {
    margin: auto;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    font-size: x-large;
  }
  nav ul li a {
    color: #000; /* Black text color */
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    color: #000;
    
  }
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }
  nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color:black;
    border-radius: 0.2rem;
}

  nav {
    flex-direction: column;
    align-items: flex-start;
   
      background-color: #fff; /* White background color */
      color: #000; /* Black text color */
    
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    width: auto;
    margin: auto;
  }
  .inline {
    display: inline-block;
  }
  .list {
    margin: auto;
  }

  nav ul li {
    width: 100%;
    text-align: center;
    font-size: x-large;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    color: #000;
  }
}
